@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model IEnumerable<GaaClub.Models.Member>

@{
    ViewData["Title"] = Localizer["Members"];
}

<h1>@ViewData["Tile"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeeType.Type)
            </th>
            @if (User.IsInRole("Administrator"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @(item.Registered == 1 ? "Yes" : "No")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeeType.Type)
                </td>
                @if (User.IsInRole("Administrator"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">@Localizer["Details"]</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Administrator"))
{
    <a asp-action="Create" class="btn btn-primary">@Localizer["CreateMember"]</a>
    <a asp-action="Import" class="btn btn-primary">@Localizer["ImportMembers"]</a>
    <li class="dropdown d-inline-block">
        <a asp-controller="Admin"
           asp-action="Index"
           class="dropdown-toggle btn btn-primary" data-toggle="dropdown">Export Members<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a asp-action="ExportToExcel">Excel</a></li>
            <li><a asp-action="ExportToPDF">PDF</a></li>
        </ul>
    </li>
}
