@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model IEnumerable<GaaClub.Models.FeeType>

@{
    ViewData["Title"] = Localizer["Fees"];
}

<h1>Fees</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeeCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeeCost)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FeeID">@Localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.FeeID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FeeID">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Administrator"))
{
    <a asp-action="Create" class="btn btn-primary">@Localizer["CreateNewFee"]</a>
}